@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Alegreya";
  color: var(--font-primary-normal);
  color: var(--font-primary-normal);
}

:root {
  --background-primary: #372d3b;
  --font-primary-important: cyan;
  --font-primary-normal: #ffffde;

  --background-secondary: #c4415d;
  --font-secondary-important: #ffffde;
  --font-secondary-normal: #ffffde;
}

h1,
h2,
h3,
h4,
a {
  color: var(--font-primary-important);
}

p {
  color: var(--font-primary-normal);
}

.App {
  background-image: url(./flowingcircuit/flowingcircuit.svg);
}

.blip {
  --border-size: 3px;
  --border-angle: 0turn;

  background-image: conic-gradient(
      from var(--border-angle),
      #213,
      #112 50%,
      #213
    ),
    conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;

  animation: bg-spin 3s linear infinite;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
/* .blip:hover {
  animation-play-state: paused;
} */

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
